body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

header {
  width: 100%;
  background-color: black; /* Alterado para preto */
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px 20px;
}

.logo img {
  height: 80px; /* Altura da imagem do logo */
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-btn span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #ddd;
}

.menu li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.menu li a:hover::before {
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  font-size: 50px;
}

.clock-container #clock {
  border: 2px solid #333;
  border-radius: 50%;
  padding: 20px;
}

/*HTML LINKS*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.group-box {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
}

.group-box button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.group-box button:hover {
  background-color: #555;
}

